<div class="container">

	<div class="header__logo">
		<img src="../assets/images/logo.png" alt="Logo">
	</div>

	<div class="header__wrapper">

		<mat-form-field appearance="fill">
			<mat-label>{{"translate.label" | translate}}</mat-label>
			<mat-select [(value)]="selectedLanguage" (valueChange)="changeLanguage($event)">
				<mat-option *ngFor="let key of ('translate.languages' | translate)" [value]="key.value">{{key.title}}
				</mat-option>
			</mat-select>
		</mat-form-field>

		<app-admin-nav></app-admin-nav>
		<app-header-user-name></app-header-user-name>
	</div>

</div>
