<form class="candidate-form" [formGroup]="filterForm">

  <mat-form-field class="specialization-filter">
    <mat-label>{{"candidates-filter.specialization" | translate}}</mat-label>
    <mat-select formControlName="specialization">
      <mat-option value="all">All</mat-option>
      <mat-option *ngFor="let option of specializationOptions" [value]="option.value">{{option.label}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="status-filter">
    <mat-label>{{"candidates-filter.status" | translate}}</mat-label>
    <mat-select formControlName="status">
      <mat-option value="all">All</mat-option>
      <mat-option *ngFor="let option of statusOptions" [value]="option.value">{{option.label}}</mat-option>
    </mat-select>
  </mat-form-field>

</form>

