:host {
  position: relative;
}

h3 {
  margin-left: 4rem;
  margin-bottom: 0;
  font-size: 1.8rem;
  font-weight: 500;
  color: #1e90cf;
}

hr {
  position: absolute;
  top: 1rem;
  left: 0;
  width: 3rem;
  height: .15rem;
  border: none;
  color: #1e90cf;
  background-color: #1e90cf;
}

div {
  display: flex;
  max-height: 14rem;

  .mat-list-base {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 19rem;

    .mat-list-item {
      width: 20rem;

      span {
        margin-left: 1rem;
      }
    }

  }
}
