<div *ngIf="selectedCandidate$ | async">
  <app-candidate-data [selectedCandidate]="selectedCandidate$ | async"></app-candidate-data>

  <app-recruiter-assessment (changingForm)="onRecruiterFormChange($event)" [assessmentsRecruiter]="assessmentsRecruiter"
    [softSkills]="softSkills$ | async">
  </app-recruiter-assessment>

  <br>

  <app-tech-interviewer-assessment (changingForm)="onFormChange($event)" [assessmentsTech]="assessmentsTech">
  </app-tech-interviewer-assessment>

  <br>
  <div class="buttons">
    <div>
      <button mat-stroked-button>TO ARCHIVE</button>
      <button mat-stroked-button (click)="toTeam()">TO TEAM</button>
      <button mat-stroked-button (click)="setAcceptStatus()">ASSIGN APPLY STATUS</button>
    </div>
    <br>



    <div>
      <button class="decline-button" mat-stroked-button (click)="onClick()">{{"recruiter.buttons.decline" |
					translate}}</button>
      <button class="apply-button" mat-stroked-button (click)="onClick()">{{"recruiter.buttons.apply" |
					translate}}</button>
    </div>
  </div>
</div>
