:host{
	display: flex;
	padding: 1rem;
	border-right: solid 1px #d1d9dd;

	.buttons div {
		display: flex;
		justify-content: space-between;
	}

	.buttons div:not(:first-child) {
		margin-top: .5rem;
	}

	// .wrapper {
	// 	max-width: 600px;
	// }
}