h2 {
  text-align: center;
  font-size: 34px;
  color: #1e90cf;
}

form {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  mat-form-field {
    width: 100%;
  }

  input:-webkit-autofill {
    box-shadow: 0 0 0 0px;
    -webkit-box-shadow: 0 0 0 50px #ffffff inset; /* можно изменить на любой вариант цвета */
    -webkit-text-fill-color: #333;
  }

  .example-container {
    position: relative;
  }

  .p_error {
    position: absolute;
    top: 70%;
    left: 13px;
    color: #f44336;
    font-size: 15px;
    opacity: 0;
    transition: 0.1s;
  }

  .p_error.active,
  .p_error.two.active {
    top: 75%;
    opacity: 1;
    transition: 0.65s;
  }

  .example-button-row {
    margin: auto;
  }

  .example-button-row > button {
    padding: 0px 40px;
    background-color: #1e90cf;
  }
}


@media (max-width: 800px) {
  form {
    width: 100%;
  }
}
